* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url('/static/images/lokkal-logo-sm.jpg'), rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-size: 160px;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
}

#app-container {
    height: min-content;
    min-height: 450px;
    width: 80%;
    min-width: 920px;
    max-width: 1000px;
    margin: 3rem 0rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* color: rgb(43, 50, 55); */
    color: black;
}

.main-nav {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    border-radius: inherit;
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.5);
}
.main-nav .option {
    padding: 0px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65px;
    font-size: 1.2rem;
    background: rgb(213, 213, 213);
    color: rgb(92, 92, 92);
    cursor: pointer;
}
.main-nav .option:hover {
    color: initial;
}
.main-nav .option.filter {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.main-nav .option.merge {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.main-nav .option.active {
    box-shadow: none;
    color: initial;
    background: white;
    cursor: initial;
}
.main-nav .option.filter.active {
    border-bottom-right-radius: none;
    box-shadow: none;
}
.main-nav .option.merge.active {
    border-bottom-left-radius: none;
    box-shadow: none;
}

.option-title {
    text-align: center;
    display: none;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.8rem;
}
.option-title.active{
    display: block;
}

#app-body {
    position: relative;
    width: 100%;
    padding: 2.8rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.sub-nav {
    width: 50%;
    margin-right: auto;
    display: flex;
    border-radius: inherit;
    display: none;
    background: rgb(140, 140, 140);

}
.sub-nav-replacer {
    width: 100%;
    height: 35px;
    display: none;
}
.sub-nav.active {
    display: flex;
}
.sub-nav-replacer.active {
    display: block;
}
.sub-nav .option {
    padding: 0px 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35px;
    font-size: 1rem;
    background: rgb(213, 213, 213);
    color: rgb(92, 92, 92);
    cursor: pointer;
}
.sub-nav .option:hover {
    color: initial;
}
.sub-nav .option.single {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset -2px -2px 5px -2px rgba(72, 72, 72, 0.7);
}
.sub-nav .option.single:hover { /* temporary style, until (and if) feature is developed */
    color: rgb(92, 92, 92);
    cursor: not-allowed;
}
.sub-nav .option.multiple {
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: inset 2px -2px 5px -2px rgba(72, 72, 72, 0.7);
}
.sub-nav .option.multiple.active {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0px;
}
.sub-nav .option.single.active {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 3px;
}
.sub-nav .option.active {
    /* font-weight: 600; */
    box-shadow: none;
    color: initial;
    background: white;
    cursor: initial;
}
.option-title {
    font-size: 1.1rem;
}





.modal-container { /* background for modals */
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container.active {
    display: flex;
}
.modal {
    position: relative;
    display: flex;
    flex-direction: column;

    min-height: 500px;
    max-height: 92vh;

    min-width: 600px;
    width: 100%;
    max-width: 950px;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.modal .header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    height: 30px;
    background: rgb(32, 94, 81);
    color: white;
    padding: 5px 0px 5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.modal .header .title {
    font-size: 14px;
}

.modal .cross-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgb(32, 94, 81);
    border-top-right-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.cross-wrapper svg {
    height: 26px;
    width: 26px;
    fill: white;
    transform: scale(0.75);
    transition: all 0.1s ease;
}
.cross-wrapper:hover {
    /* background: rgb(232, 230, 230); */
    background: rgb(172, 213, 204);
}
.cross-wrapper:hover svg {
    transform: scale(1);
    fill: rgb(244, 0, 0);
}

.modal .body {
    background: white;
    height: 100%;
    padding: 10px 20px 20px 35px;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    overflow-x: hidden;
    overflow-y: auto;
}
.modal .body .content {
    display: none;
}
.modal .body .content.active {
    display: block;
}




.info-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: transparent;

    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.1s ease-out;
}
.info-icon-wrapper:hover {
    background: rgb(59, 159, 136);
}
.info-icon-wrapper:active {
    background: rgb(40, 109, 94);
}

.info-icon {
    width: 26px;
    height: 26px;
}
.info-icon .color {
    fill: rgb(120, 120, 120);
    transition: all 0.1s ease-out;
}
.info-icon-wrapper:hover .info-icon .color {
    fill: white;
}




.btns-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns-container .btn {
    display: none;
}
.btns-container .btn.active {
    display: block;
}

.file-inputs-container {
    margin: 1rem 0rem 1.5rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.file-inputs-container label {
    width: 250px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
    padding: 15px 10px 30px 10px;
    background: white;
    border-radius: 15px;
    border-top: 1px solid rgb(205, 205, 205);

    margin-bottom: 1.5rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 3px 10px -5px rgba(0, 0, 0, 0.9);
}
.file-inputs-container label:hover,
.file-inputs-container label:focus {
    border: 1px solid rgb(191, 191, 191);
    border-bottom: none;
}
.file-inputs-container label:active {
    box-shadow: inset 0px 1px 13px -6px rgba(0, 0, 0, 0.9);
    border-color: white;
}
.file-inputs-container label .info {
    /* color: rgb(147, 147, 147); */
    font-weight: 300;
    /* font-size: 15px; */
    font-size: 0.98rem;
}
.file-inputs-container label .icon {
    margin-top: 14px;
    margin-bottom: 10px;
    height: 80px;
}
.file-inputs-container label svg .darkgreen {
    fill:#2f7f6d;
}
.file-inputs-container label svg .lightgreen {
    fill:#3b9f88;
}
.file-inputs-container label:hover svg .darkgreen,
.file-inputs-container label:active svg .darkgreen {
    fill:#235f52;
}
.file-inputs-container label:hover svg .lightgreen,
.file-inputs-container label:active svg .lightgreen {
    fill:#2f7f6d;
}
/* @keyframes bounce1 {
    0% { bottom: 70px; opacity: 0;}
    10% { bottom: 70px; opacity: 0;}
    20% { opacity: 0.5;} 
    30% { bottom: 0px; opacity: 1;} 
    40% { bottom: 16px; }
    50% { bottom: 25px; } 
    70% { bottom: 0px; } 
    80% { bottom: 6px; }
    100% { bottom: 0px; opacity: 1;}
} */
@keyframes bounce2 {
    0% {bottom: -45px; height: 0px; opacity: 1; color: transparent;}
    60% {bottom: 0px; height: 35px;}
    100% {bottom: 0px; height: 25px; opacity: 1; color: black;}
}
.file-inputs-container label .file-name-field-1,
.file-inputs-container label .file-name-field-2 {
    overflow: hidden;
    text-align: center;
    /* font-size: 0.9rem; */
    font-size: 0.9rem;
    font-weight: 400;
    border-top:1px solid rgba(47, 127, 110, 0.5);
    position: absolute;
    bottom: 0px;
    background: rgba(47, 127, 109, 0.15);
    color: black;
    height: 25px;
    width: 100%;
    padding: 0px 8px 0px 8px;
    opacity: 0;
    animation-name: bounce2;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-play-state: paused;
    transition: all 0.1s ease-out;
}

.file-inputs-container input {
    opacity: 0;
    position:absolute;
    z-index: -1;
    height: 1px;
    width: 1px;
}
.file-inputs-container input:focus {
    /* note: working or not ? */
    border-color:rgb(84, 84, 84); 
}
.btn {
    font-family: inherit;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    padding: 9px 20px;
    word-spacing: 3px;
    background: linear-gradient(180deg, rgb(59, 159, 136), rgb(59, 159, 136), rgb(47, 127, 109));
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 13px -9px rgb(0, 0, 0);
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(180deg, #2f7f6d, #2f7f6d, #235f52);
}
.btn:active {
    box-shadow: inset 0px 6px 13px -9px rgb(0, 0, 0);
}